{% extends 'base_layout.html' %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4 mt-2 text-center">
            <h1>Staff Guide</h1><br />
            <a href="{% url 'helpVids:help' %}">Click Here To Visit the Customer Help Videos</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mt-2">
        <h3 class="vidtitle">How To Login As An Administrator And View The Dashboard</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/N1IL782ebcs" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">How To Visit The Reservation Website Through The Administrator Account</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/h1daONX38Kk" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">Creating, Updating, Deleting User Account As An Administrator</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6EywFLsiEcY" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">Creating, Updating, Deleting Groups As An Administrator</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pRD9R6AU4Wc" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">Creating, Updating, Deleting Fitness Classes As An Administrator</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CRg9Tg5xAQg" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">Creating, Updating, Deleting Reservations As An Administrator</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LAY6BB_wOuQ" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>



      </div>
    </div>
</div>

<style>
    .apptitle{
        display:none;
    }
</style>

{% endblock %}