{% extends 'base_layout.html' %}

{% block content%}

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-4 mt-2 text-center">
            <h1>Need Help?</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-md-12 mb-4 mt-2">
        <h3 class="vidtitle">How to Sign Up As A New Member</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/i5ZSom6XxAQ" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">How To Make A Reservation and View Your Details</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/HLg_Gd0SOOY" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">How To Login And View The Schedule</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6MZRR3pql5U" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

        <h3 class="vidtitle">How To Log Out Of Your Account</h3>
        <div class="video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/6MZRR3pql5U" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

      </div>
    </div>
</div>

<style>
    .apptitle{
        display:none;
    }
</style>

{% endblock %}